@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ojak2c');
  src:  url('fonts/icomoon.eot?ojak2c#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ojak2c') format('truetype'),
    url('fonts/icomoon.woff?ojak2c') format('woff'),
    url('fonts/icomoon.svg?ojak2c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ub-"], [class*=" ub-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ub-arrow_down:before {
  content: "\e900";
  color: #98a2b3;
}
.ub-cot_por_aprobar:before {
  content: "\e901";
  color: #20a789;
}
.ub-cot_vencidas:before {
  content: "\e902";
  color: #20a789;
}
.ub-like:before {
  content: "\e903";
  color: #6871ec;
}
.ub-neg_por_facturar:before {
  content: "\e904";
  color: #20a789;
}
.ub-papel:before {
  content: "\e905";
  color: #6871ec;
}
.ub-percent:before {
  content: "\e906";
  color: #1cb554;
}
.ub-por_cobrar:before {
  content: "\e909";
  color: #20a789;
}
.ub-por_pagar:before {
  content: "\e90a";
  color: #20a789;
}
.ub-tres_puntos .path1:before {
  content: "\e907";
  color: rgb(67, 89, 113);
}
.ub-tres_puntos .path2:before {
  content: "\e908";
  margin-left: -0.2861328125em;
  color: rgb(152, 162, 179);
}
